<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/app.css">
    <title>Adonis</title>
</head>
<body>
    <div id="app">
        @if(user)
            @include('partials/navbar')
        @else
            @include('partials/navbar-guest')
        @endif

        <div id="content-wrapper">
            @!section('main')
        </div>
    </div>
</body>
</html>